.data-table-header{
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
    height: 4.5rem;
    align-items: center;
}

.data-table-title{
    font-weight: 600;
}